/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--accent-color);
  font-size: var(--size-main-text);
  background-color: var(--bg-color, #000028);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/*Секция Хедер*/
.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: center;
  align-items: center;
  min-width: 355px;
  height: 100vh;
  padding: 0 10px 0;
}

.header__theme-menu {
  justify-self: right;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  color: var(--header-color-menu);
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.header__theme-menu-button {
  border: none;
  border-bottom: 1px solid transparent;
  padding: 0px 13px 2px;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--header-color-menu);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--header-color-menu);
}

.header__theme-menu-button:focus-visible {
  border-bottom-color: var(--header-color-menu);
  outline: none;
}

.header__title {
  justify-self: left;
  color: var(--header-color);
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.1055rem + 0.6163vw, 7.5rem);
  line-height: 82.5%;
  text-align: left;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  justify-self: right;
  width: clamp(355px, 50vw, 491px); /* Адаптивная ширина */
  min-height: 117px;
  color: rgba(0, 0, 40, 1);
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-size: var(--size-main-text);
  line-height: 23.4px;
  text-align: left;
  background: var(--accent-color);
}

/*надпись REC*/
.rec-text {
  position: absolute;
  top: 10px;
  right: 38px;
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-size: var(--size-main-text);
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}

/*точка после REC*/
.rec-text::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -19px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background: var(--accent-color);
}

/*Уголок сверху- справа*/
.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  box-sizing: border-box;
  width: 25.04px;
  height: 25px;
  border-top: 1px solid var(--header-color-menu);
  border-right: 1px solid var(--header-color-menu);
}

/*Уголок снизу- слева*/
.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  box-sizing: border-box;
  width: 25.04px;
  height: 25px;
  border-bottom: 1px solid var(--header-color-menu);
  border-left: 1px solid var(--header-color-menu);
}

/*main Страницы*/
.main {
  display: grid;
  grid-template-rows: min-content;
  gap: 50px;
  padding: 40px 10px 40px;
  color: var(--color-main-text);
}

/*Настройка названий Секций*/
.section__title {
  padding-block-end: 20px;
  color: var(--header-color-menu);
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-size: var(--size-main-text);
  line-height: 23.4px;
  text-align: left;
}

/*Настройка списка*/
.section__info-list {
  display: grid;
  grid-template-rows: min-content;
  gap: 20px;
}

/*Настройка названия пункта списка*/
.section__info-list__title {
  width: -webkit-fill-available;
  min-height: 23px;
  margin-block-end: 10px;
}

/*Настройка текста пункта в списке*/
.section__info-text {
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
}

/*Секция про Сосредоточся*/
.concentrate__info {
  min-height: auto;
}

.concentrate__info__link {
  font-family: IBM Plex Mono;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.concentrate__info__link:hover {
  border-bottom: 1px solid var(--color-main-text);
}

.concentrate__info__link:focus-visible {
  outline: 1px solid var(--color-main-text);
}

/*Секция Что снижает концентрацию*/
.section__what-reduces-concentration {
  min-height: auto;
}

/*Секция как Сосредоточся*/
.section__how-to-concentrate {
  min-height: auto;
}
.section__how-to-concentrate-title_name {
  margin-block-end: 20px;
}

.section__how-to-concentrate-title {
  font-weight: 400;
}

/*Секция c картинками*/
.section__picture {
  min-height: auto;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/*Секция c footer*/
.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (min-width: 768px) {
  .header {
    padding: 0 20px 0;
  }

  /* .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  } */

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .rec-text {
    top: 20px;
    right: 48px;
  }

  .main {
    gap: 80px;
    padding: 60px 20px 60px;
  }

  /*---Изм секции Почему сосредоточиться---*/
  .concentrate__info {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Левая колонка уже, правая шире */
    grid-template-rows: auto;
    align-items: start;
    gap: 20px;
  }

  /* Заголовок в левой колонке */
   .concentrate__info-title {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
  }

   /* Список с контентом в правой колонке */
  .concentrate__info-list {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1;
    gap: 20px;
  }

  /*---Изм секции Как концентрироваться лучше---*/
  .section__how-to-concentrate {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Левая колонка уже, правая шире */
    grid-template-rows: auto;
    align-items: start;
    gap: 20px;
  }

  .section__how-to-concentrate-title {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
  }

  .how-to-concentrate-article {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1;
  }

  /*Изм галереии*/
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "sunset sunset icecream"
    "tape books icecream"
    "tape street street";
    gap: 20px;
  }

  /* Каждое изображение в своей ячейке */
  .gallery-image:nth-child(1) {
    grid-area: sunset;
  }

  .gallery-image:nth-child(2) {
    grid-area: icecream;
  }

  .gallery-image:nth-child(3) {
    grid-area: tape;
  }

  .gallery-image:nth-child(4) {
    grid-area: books;
  }

  .gallery-image:nth-child(5) {
    grid-area: street;
  }

  /* Общие стили изображений */
  .gallery-image {
    height: 100%;
    object-fit: cover;
  } 
}

@media (min-width: 1024px) {
  /*изм Что снижает концентрацию*/
  .section__what-reduces-concentration {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: start;
    gap: 20px;
  }

  .what-reduces-concentration-title {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
  }

  .what-reduces-article {
    grid-column: 1/4;
    grid-row: 2;
    gap: 20px;
  } 

   .what-reduces-concentration-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: first baseline;
    padding-block-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .title-decor_new {
    min-height: 71px;
  }
}







