/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  height: 100vh;
  min-height: 668px;
}