/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --bg-image: url(../images/cover-image-dark.png);
    --bg-color: #000028;
    --accent-color: #ff0070;
    --size-main-text: 18px;
    --color-main-text: rgba(241, 178, 206, 1);
    --header-color: rgba(219, 0, 255, 1);
    --header-color-menu: #ff0070;

}